.how {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 12rem;
    &__discription {
        text-align: center;
        &-text {
            margin-bottom: 7rem;
            font-size: 3rem;
            line-height: 1.5;
            color: #404242;
        }
    }
    &__play {
        display: flex;
        &-img {
            flex: 1 1 106.3rem;
        }
        &-desc {
            background-color: #CCF0E6; 
            flex: 1 1 54.9rem;
            &-text {
                display: flex;
                align-items: start;
                padding-top: 7rem;
                padding-left: 12.5rem;
                padding-right: 12.6rem;
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.5;
                color: #486958;
            }
            &-see {
                padding-left: 12.5rem;
                padding-top: 4rem;
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.5;
                color: #486958;
                 
            }
        }
    }
}
.triangle {
    position: absolute;
    top: 43rem;
    left: 114rem;
    &:hover {
        transform: scale(1.1);
        transition-duration: .10s;
    }
}

@media (max-width:1338px) {
    .triangle {
        display: none;
    }
}
  
@media (max-width:479.9px) {
    .how {
        &__discription {
            &-text {
                font-size: 5.5rem;
            }
        }
    }
}